@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.home-header-container {
    background-color: aquamarine;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    align-self: center;
    border-bottom-right-radius: 30% 30%;

    background-image: url("./assets/SelfPortrait.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    margin-left: 64px;
}
h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.home-header-button {
    border-radius: 100%;
    font-weight: 700;
    background-color: white;
    width: 150px;
    height: 150px;
    border: none;
    color: black;
    padding: 32px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin-left: 128px;
    margin-right: 32px;
    margin-bottom: 16px;
    cursor: pointer;
}
.home-header-button:hover {
    border-radius: 100%;
    font-weight: 700;
    background-color: black;
    width: 150px;
    height: 150px;
    border: none;
    color: white;
    padding: 32px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin-left: 128px;
    margin-right: 32px;
    margin-bottom: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .intro-bubble-container {
        flex-wrap: wrap; 
        flex-direction: column;
    }
}
@media only screen and (min-width: 501px) {
    .intro-bubble-container {
        flex-direction: row; 
        justify-content: center; 
        display: flex;
    }
}


.home-text-bubble {
    display: table;
    border-radius: 100%;
    font-weight: 700;
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    border: none;
    color: black;
    padding: 32px 32px 32px 32px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-left: 0px;
    margin-right: 32px;
    margin-bottom: 16px;
    margin-top: 16px;
}