@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

html{scroll-behavior:smooth}

.home-header-container {
    background-color: white;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    align-self: center;
    border-bottom-right-radius: 30% 30%;

    /* background-image: url("./assets/SelfPortrait.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain; */
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 36pt;
    font-weight: 700;
    margin-left: 64px;
}
h2 {
    font-size: 16pt;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin: 8px;
}

.home-header-button {
    border-radius: 100%;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    width: 200px;
    height: 200px;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 20pt;
    margin-left: 128px;
    margin-right: 32px;
    margin-bottom: 16px;
    box-shadow: 0px 2px 50px -30px #000000;

    opacity: 0;
    transform: translateY(4em) rotateZ(0deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;  
    will-change: transform, opacity;
}
.home-header-button.is-visible {
    opacity: 1;
    transform: rotateZ(0deg);
}
.home-header-button:hover{
    box-shadow: 0px 2px 50px -25px #000000;
    transition: all 0.2s
}


.intro-bubble-container {
    flex-direction: row; 
    justify-content: center; 
    display: flex;
    padding: 32px;
}

.home-text-bubble {
    display: table;
    border-radius: 100%;
    font-weight: 700;
    background-color: black;
    width: 250px;
    height: max-content;
    min-height: 250px;
    border: none;
    color: white;
    padding: 32px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    box-shadow: 0px 2px 50px -30px #000000;
    opacity: 0;
    transform: translateY(4em) rotateZ(0deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;  
    will-change: transform, opacity;
}
.home-text-bubble.is-visible {
    opacity: 1;
    transform: rotateZ(0deg);
}
.home-text-bubble:hover{
    box-shadow: 0px 2px 50px -25px #000000;
    transition: all 0.2s
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px;
}
.project-info {
    display: flex;
    flex-direction: column;
}
.project-info-bubble {
    border-radius: 100%;
    font-weight: 700;
    background-color: white;
    width: 450px;
    height: max-content;
    min-height: 450px;
    color: black;
    padding: 64px 64px 64px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    margin-left: 0px;
    margin-right: 32px;
    margin-bottom: 16px;
    margin-top: 16px;
    box-shadow: 0px 2px 50px -30px #000000;
    opacity: 0;
    transform: translateY(4em) rotateZ(0deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;  
    will-change: transform, opacity;
}
.project-info-bubble.is-visible {
    opacity: 1;
    transform: rotateZ(0deg);
}
.project-info-bubble:hover{
    box-shadow: 0px 2px 50px -25px #000000;
    transition: all 0.2s
}

.project-img {
    width: 50%; 
    object-fit: contain; 
    object-position: center; 
    align-self: center; 
    padding-right: 64px;
    padding-left: 64px;
    padding-bottom: 64px;
    border-bottom-width: 5px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.link-img:hover {
    filter: opacity(0.5);
    transition: all 0.2s ease-out;
}
a:hover {
    filter: opacity(0.5);
    transition: all 0.2s ease-out;
}

.scrolling-wrapper {
    display: flex;
    padding: 64px;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.card {
    flex: 0 0 auto;
}

.embed {
    width: 50%;
    height: 500px;
    object-fit: contain; 
    object-position: center; 
    align-self: center; 
    padding-right: 64px;
    padding-left: 64px;
    padding-bottom: 64px;
    border-bottom-width: 5px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

@media screen and (max-width: 900pt) {
    .intro-bubble-container, .project, .home-header-container {
      flex-direction: column; /* when the viewport is 800px or smaller */
      align-self: center;
      align-items: center;
      margin-left: 16;
    }
    .embed {
        width: 90%;
        margin-left: 16px;
        overflow-x: hidden;
    }
    .scrolling-wrapper {
        width: 90%;
        margin-left: 16px;
        overflow-x: scroll;
    }
    .card {
        max-width: 95%;
    }
    .h1 {
        font-size: 72pt;
    }
    .h2 {
        font-size: 32pt;
    }
  }

.button {
    background: #fff;
	color: black;
	border: none;
	padding: 8;
	font: inherit;
    font-family: 'Poppins', sans-serif;
	cursor: pointer;
	outline: inherit;
    border-radius: 8px;
    margin-top: 8;
}

.email {
    background: #fff;
	color: black;
	border: none;
	padding: 8;
	font: inherit;
    font-family: 'Poppins', sans-serif;
	cursor: pointer;
	outline: inherit;
    border-radius: 8px;
    margin-top: 8;
    width: 90%;
}